@{
    Layout = null;
}
@using Projekat.Models
@model IEnumerable<Recenzija> 

<!DOCTYPE html>
<html>
<head>
    <title>Veb prodavnica</title>
    <link rel="stylesheet" href="~/Content/stil.css">
</head>

<body>
    
   
</body>
</html>
